Repository templ-project/vscode-extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: added cwai -> created new LLD to refactor the project
  .env.example
  .gitignore
  .specs/00001-low-level-design-vscode-extensions/existing-extensions.json
  .specs/00001-low-level-design-vscode-extensions/existing-settings.json
  .specs/00001-low-level-design-vscode-extensions/existing-snippets.json
  .specs/00001-low-level-design-vscode-extensions/issue.json
  .specs/00001-low-level-design-vscode-extensions/low-level-design.md
  .specs/00001-low-level-design-vscode-extensions/low-level-design.plan.md
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-001: Project Setup & Dependencies
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  .vscode/mcp.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/vscode/cpp/src/extension.ts
  packages/vscode/csharp/src/extension.ts
  packages/vscode/generic-essential/src/extension.ts
  packages/vscode/generic-extended/src/extension.ts
  packages/vscode/godot/src/extension.ts
  packages/vscode/golang/src/extension.ts
  packages/vscode/javascript/src/extension.ts
  packages/vscode/python/src/extension.ts
  packages/vscode/typescript/src/extension.ts
  packages/vscodium/cpp/src/extension.ts
  packages/vscodium/csharp/src/extension.ts
  packages/vscodium/generic-essential/src/extension.ts
  packages/vscodium/generic-extended/src/extension.ts
  packages/vscodium/godot/src/extension.ts
  packages/vscodium/golang/src/extension.ts
  packages/vscodium/javascript/src/extension.ts
  packages/vscodium/python/src/extension.ts
  packages/vscodium/typescript/src/extension.ts
  src/index.ts
  tests/setup.test.ts
  tsconfig.json
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed S-002: Logging Infrastructure
  .husky/pre-commit
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  package.json
  src/index.ts
  src/logger.ts
  tests/logger.test.ts
  tsconfig.json
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-004: ConfigLoader - Load Collections
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/config/ConfigLoader.ts
  src/config/index.ts
  src/config/types.ts
  src/index.ts
  src/logger.ts
  tests/config/ConfigLoader.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-005: ConfigLoader - Validation
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/config/ConfigLoader.ts
  src/config/index.ts
  src/config/schemas.ts
  tests/config/validation.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-006: TemplateGenerator Implementation
  .specs/00001-low-level-design-vscode-extensions/issue.json
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/build/TemplateGenerator.ts
  src/build/index.ts
  src/index.ts
  tests/build/TemplateGenerator.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-007: ExtensionPackBuilder - Version Preservation
  .husky/pre-push
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/build/index.ts
  src/build/version-utils.ts
  src/index.ts
  tests/build/version-utils.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-008: ExtensionPackBuilder - File Generation
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/build/ExtensionPackBuilder.ts
  src/build/TemplateGenerator.ts
  src/build/index.ts
  src/index.ts
  tests/build/ExtensionPackBuilder.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-009: ExtensionPackBuilder - VSIX Packaging
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  src/build/ExtensionPackBuilder.ts
  tests/build/ExtensionPackBuilder.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-010: CLI Entry Point (src/index.ts)
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  package-lock.json
  package.json
  src/index.ts
  tests/cli.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-011: Taskfile Configuration
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  Taskfile.yml
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: completed Story S-012: MarketplacePublisher - VSCode Marketplace
  .husky/pre-commit
  .lintstagedrc.yml
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  eslint.config.mjs
  src/build/ExtensionPackBuilder.ts
  src/build/TemplateGenerator.ts
  src/build/index.ts
  src/build/version-utils.ts
  src/config/ConfigLoader.ts
  src/index.ts
  src/logger.ts
  src/publish/MarketplacePublisher.ts
  src/publish/index.ts
  src/publish/types.ts
  tests/build/ExtensionPackBuilder.test.ts
  tests/build/TemplateGenerator.test.ts
  tests/build/version-utils.test.ts
  tests/cli.test.ts
  tests/config/ConfigLoader.test.ts
  tests/config/validation.test.ts
  tests/error-reporter.test.ts
  tests/logger.test.ts
  tests/publish/MarketplacePublisher.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: completed Story S-013: MarketplacePublisher - Open VSX
  eslint.config.mjs
  low-level-design.summary.md
  src/publish/MarketplacePublisher.ts
  tests/cli.test.ts
  tests/publish/MarketplacePublisher.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-014: CLI Publish Command Implementation
  low-level-design.summary.md
  package-lock.json
  package.json
  src/index.ts
  tests/cli.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-015: GitHub Actions CI/CD Workflow
  .github/workflows/build-and-publish.yml
  .github/workflows/publish-extensions.yml
  low-level-design.summary.md
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: completed Story S-016: Documentation & README
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  README.md
  low-level-design.summary.md
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-017: Template Files (Handlebars)
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  low-level-design.summary.md
  src/build/TemplateGenerator.ts
  templates/README.md.handlebars
  templates/package.json.handlebars
  templates/snippets.json.handlebars
  tests/build/templates.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-018: Logo Assets
  .specs/00001-low-level-design-vscode-extensions/issue.json
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  CHANGELOG.new.md
  logos/README.md
  logos/generic-essential-128.png
  logos/generic-extended-128.png
  tests/build/logos.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-019: Integration Testing
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  tests/integration/build-workflow.test.ts
  tests/integration/fixtures/test-collection.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

chore: completed Story S-020: Performance Optimization
  .specs/00001-low-level-design-vscode-extensions/low-level-design.summary.md
  README.md
  Taskfile.yml
  packages/packages/vscode/cpp/.vscodeignore
  packages/packages/vscode/cpp/CHANGELOG.md
  packages/packages/vscode/cpp/LICENSE.md
  packages/packages/vscode/cpp/README.md
  packages/packages/vscode/cpp/keybindings.json
  packages/packages/vscode/cpp/logo.png
  packages/packages/vscode/cpp/package.json
  packages/packages/vscode/cpp/settings.json
  packages/packages/vscode/cpp/snippets/cpp.json
  packages/packages/vscode/cpp/src/extension.ts
  packages/packages/vscode/cpp/tsconfig.json
  src/build/TemplateGenerator.ts
  src/build/index.ts
  tests/build/TemplateGenerator.test.ts
  tests/build/performance.test.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: splited workflows to be able to publish in case of failure
  .github/workflows/build-and-publish.yml
  .github/workflows/publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

fix: added MCP documentation
  config/collections/vscode/generic-essential.ts
  config/collections/vscode/typescript.ts
  config/collections/vscodium/generic-essential.ts
  config/collections/vscodium/typescript.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

fix: fixed PAT secrets
  .github/workflows/build-and-publish.yml
  .github/workflows/publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

fix: fixed PAT secrets
  Taskfile.yml
  packages/vscode/python/package.json
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

fix: prevent HTML escaping in package.json keybindings
  packages/vscode/cpp/package.json
  packages/vscode/csharp/package.json
  packages/vscode/generic-extended/package.json
  packages/vscode/godot/package.json
  packages/vscode/golang/package.json
  packages/vscode/python/package.json
  packages/vscode/typescript/package.json
  packages/vscodium/cpp/package.json
  packages/vscodium/csharp/package.json
  packages/vscodium/generic-extended/package.json
  packages/vscodium/godot/package.json
  packages/vscodium/golang/package.json
  packages/vscodium/python/package.json
  packages/vscodium/typescript/package.json
  templates/package.json.handlebars
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

fix: prevent HTML escaping in keybindings.json and README
  templates/README.md.handlebars
  templates/keybindings.json.handlebars
Due: none

fix: add .gitattributes and improve CI compatibility
  .gitattributes
  .github/workflows/build-and-publish.yml
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: moved from ubuntu to macos runner
  .github/workflows/build-and-publish.yml
  .github/workflows/publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

chore: moved from macos to ubuntu runner
  .github/workflows/build-and-publish.yml
  .github/workflows/publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

fix: add TypeScript build step before tests in CI
  .github/workflows/build-and-publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

fix: pre-install tsx globally to prevent npx race conditions
  .github/workflows/build-and-publish.yml
Due: npx eslint --fix --no-warn-ignored, npx prettier --write --parser yaml

feat: skip publishing when version already exists on marketplace
  src/index.ts
  src/publish/MarketplacePublisher.ts
Due: npx prettier --write, npx eslint --fix --no-warn-ignored

Path conditions:
  npx prettier --write: ((any of: **/*.{ts,js,mts,cts,mjs,cjs}) or (any of: **/*.{md,mdx})) or (any of: **/*.{json,jsonc})
  npx eslint --fix --no-warn-ignored: (((any of: **/*.{ts,js,mts,cts,mjs,cjs}) or (any of: **/*.{md,mdx})) or (any of: **/*.{json,jsonc})) or (any of: **/*.{yml,yaml})
  npx prettier --write --parser yaml: any of: **/*.{yml,yaml}
